@model API.ViewModel.BookListViewModel

@{
    ViewData["Title"] = "book";
}


<!DOCTYPE html>
<html>

<head>
    <meta Title="viewport" content="width=device-width" />
</head>

<body>
    <div class="container">
        <!-- Button trigger modal -->
        <div class="container">
            <a href="/authors" class="btn btn-primary bg-success">Add new Author</a>
            <button type="button" class="btn btn-primary bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add new books
        </button>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add your Favorite Books</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="was-validated" asp-action="Create" method="post" role="form">
                            <div class="mb-3">
                                <label asp-for="Books" class="form-label">Title</label>
                                <input asp-for="Title" type="title" class="form-control"  placeholder="Title"
                                    required>
                                    <div class="invalid-feedback">
                                        Enter the Title
                                    </div>
                            </div>
                            <select class="form-select" required aria-label="select author" type="author" id="authorSelect" name="authorId">
                                <option selected>Select an author</option>
                                @foreach (var author in Model.Authors)
                                {
                                    <option value="@author.AuthorID">@author.Name</option>
                                    <div class="invalid-feedback">Select an Author from this list </div>
                                }
                            </select>
                            
                            <div class="mt-2">
                                <div class="col-m-offset-2 col-m-offset-2 md-5">
                                    <input type="submit" class="btn btn-primary" value="Save Book"/>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        @foreach (var book in Model.Books)
        {
            <div class="card justify-content-center d-inline-flex bg-light text-bg-primary" style="width: 18rem;">
                <div class="card-body text-center">
                    <img src="@book.URLImagen" class="" alt="...">
                    <h5 class="card-title">@book.Title</h5>
                    <button type="button" class="btn btn-primary">Learn More</button>
                </div>
            </div>
        }
    </div>
</body>

</html>